html {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
				 "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
				 sans-serif;
	font-size: 25px;
	font-color: #000;
	background-color: #fff;
}

body {
	overflow-x: auto;
	overflow-y: hidden;
}

/* #wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin-bottom: 5px;
	overflow-x: auto;
	overflow-y: hidden;
} */

#pageTitle {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	z-index: 3;

	font-family: "Times New Roman", Times, serif;
	
	overflow: hidden;
	text-align: center;
	font-size: 25px;
}

#pageTitle a {
	font-size: 25px;
	text-decoration: underline;
}

/* These hold headlines and body text */
#content, #text {
	position: absolute;
	top: 51px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	width: auto;
}

#text {
	color: #000;
	line-height: 140%; /* better readability */
	font-size: 100%; /* better readability */
	font-family: "Times New Roman", "Times", serif;
}

/* Every article is kept inside a .article div. */
.article {
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	border: 1px dashed rgba(0,0,0,1);
	
	-webkit-transition-property: color, border, background; 
	-moz-transition-property: color, border, background;
	transition-property: color, border, background;
	-webkit-transition-duration: .4s, .4s; 
	-moz-transition-property: .4s, .4s;
	transition-property: .4s, .4s;
	-webkit-transition-timing-function: linear, ease-in;
	-moz-transition-timing-function: linear, ease-in;
	transition-timing-function: linear, ease-in;
}

/* Style how the source and pub date looks for each article */
.article .source {
	font-size: 12px;
	font-style: italic;
}
.article .tags {
	font-size: 10px;
	text-decoration: underline;
}
.article:hover {
	background-color:rgba(256,256,0,.5);
	color: #000;
}

.columns {
	-webkit-columns: 262px auto;
	-moz-columns: 262px auto;
	columns: 262px auto;

	-webkit-column-gap:10px;
	-moz-column-gap:10px;
	column-gap:10px;
	
	/*
	-webkit-column-rule-color #555;
	-moz-column-rule-color #555;
	column-rule-color #555;

	-webkit-column-rule-width:1px;
	-moz-column-rule-width:1px;
	column-rule-width:1px;

	-webkit-column-rule-style:solid;
	-moz-column-rule-style:solid;
	column-rule-style:solid:
	*/
}

a {
	text-decoration: none;
	padding: 2px;
	margin-left: 3px;
	margin-right: 3px;
	background-color: #FFF;
	color: #6090CF;
}
a:hover {
	color: #FFF;
	background-color: #6090CF;
}

img {
	max-width: 262px;
	height: auto;
	width: auto;
}
