html {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
				 "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
				 sans-serif;
	font-color: #000;
	background-color: #fff;
}

body {
	overflow-x: auto;
	overflow-y: hidden;
}

#pageTitle {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	
	width: 100%;
	height: 39px;
	border-bottom: 1px solid #000;

	font-family: Times, "Times New Roman", "times-roman", Georgia, serif;
	font-size: 31px;
	text-decoration: none;
	text-overflow: ellipsis;
	text-align: center;
	white-space: nowrap;
	letter-spacing: -1px;
	line-height: 39px;
	
	color: #000;
	background-color: #fff; /* stop scroll-through on iOS */
	
	overflow: hidden;
	z-index: 2;
}

#pageTitle a {
	text-decoration: none;
	color: #000;
}
#pageTitle a:hover {
	color: rbga(51, 102, 255, .5);
}

/* These hold headlines and body text */
#content, #text {
	position: absolute;
	top: 41px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: auto;

	padding-left: 10px;
	padding-right: 10px;

	z-index: 1;
}

#content {
	font-family: "Lucida Grande", Tacoma;
	font-weight: normal;
	font-variant: normal;
	line-height: 140%;
	font-size: 20px;
	letter-spacing: 1px;
	text-align: center!important;
	text-transform: uppercase;
}

#text {
	color: #000;
	font-size: 20px;
	line-height: 140%; /* better readability */
	font-family: Times, "Times New Roman", "times-roman", Georgia, serif;
	text-decoration: none;
}
#text:first-letter { /* TODO: remove <close> div, because it gets capitalized */
	font-size: 40px;
	font-family: "Adobe Caslon Pro", "Hoefler Text", inherit;
	text-transform: uppercase;
}

/* Every article is kept inside a .article div. */
.article {
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	
	-webkit-transition-property: color, border, background; 
	-moz-transition-property: color, border, background;
	transition-property: color, border, background;
	-webkit-transition-duration: .4s, .4s; 
	-moz-transition-property: .4s, .4s;
	transition-property: .4s, .4s;
	-webkit-transition-timing-function: linear, ease-in;
	-moz-transition-timing-function: linear, ease-in;
	transition-timing-function: linear, ease-in;
}

/* Style how the source and pub date looks for each article */
.article .source, .article .pub_date {
	padding: 2px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: 10px;
}
.article .source {
	text-decoration: underline;
}
.article:hover {
	background-color:rgba(51, 102, 255, 0.25);
	color: #000;
}

.columns {	
	-webkit-column-count: auto;
	-moz-column-count: auto;
	column-count: auto;

	-webkit-column-width: 262px;
	-moz-column-width: 262px;
	column-width: 262px;

	-webkit-column-gap:10px;
	-moz-column-gap:10px;
	column-gap: 10px;
	
}

a {
	color: rgba(51, 102, 255, .5);
	text-decoration: none;
}

img {
	max-width: 262px;
	height: auto;
	width: auto;
}
